body{
  background-color:rgb(159, 245, 245);
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
}
.container_header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:center;
  flex-wrap: wrap;
  gap: 11px;
}
.container_nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
  .button_nav {
      box-sizing: content-box;
    background-color:bisque;
    border-color: none;
  }
  } 


.hombre_desierto {
  box-sizing: content-box;
  width:30%;
}

